<section>
  <h1 class="title">View Take Home Pay, Income Tax & National Insurance</h1>
  <input type="text" (keyup)="search($event)" (click)="toggleDropdown()" class="search" (clickOutside)="onClickedOutside($event)"
    placeholder="Search for employee">
  <div *ngIf="allowDropdown" class="autocomplete-dropdown">
    <div (click)="getUserById(employee.ID)" class="autocomplete-names" *ngFor="let employee of employees">
      {{employee["First Name"]}} {{employee.Surname}}
    </div>
  </div>
  <div *ngIf="selectedUser" class="employeeBox clearfix">
    <h3>{{selectedEmployee.Title}}{{selectedEmployee["First Name"]}} {{selectedEmployee.Surname}}</h3>
    <div class="clearfix">
      <div class="half right">Salary:</div>
      <div class="half left">{{selectedEmployee.Salary}}$</div>
    </div>
    <div class="clearfix">
      <div class="half right">Income Tax:</div>
      <div class="half left">
        <span class="red">-{{selectedEmployee["Income Tax"]}}$</span>
      </div>
    </div>
    <div class="clearfix">
      <div class="half right">National Insurance:</div>
      <div class="half left">
        <span class="red">-{{selectedEmployee["National Insurance"]}}$</span>
      </div>
    </div>
    <div class="clearfix">
      <div class="half right">Take Home:</div>
      <div class="half left">
        <span class="green">{{selectedEmployee["Take Home"]}}$</span>
      </div>
    </div>
    <!-- <br> -->
    <!-- Gender:{{selectedEmployee.Gender}}<br>
    {{selectedEmployee.Age}}years old<br>
    born on {{selectedEmployee["Date Of Birth"]}}<br> -->
  </div>
</section>
